pyserial
pyrecord
psutil
numpy
Flask
pygraphviz
colorama
cryptography
pycryptodome
ddt
mock
logbook
gevent
socketIO-client
matplotlib
python-socketio==4.4.0
python-engineio==3.11.2
pygmo==2.10
socketIO_client
flask_socketio==4.3.2
pycallgraph
socketio